#time {
	margin-top: 20px;
	font-size: 48px;
	color: rgba(255, 255, 255, 0.8);
}

#date {
	font-size: 22px;
	color: rgba(255, 255, 255, 0.8);
}

.dark-mode #date {
	color: rgba(0, 0, 0, 0.8);
}

.dark-mode #time {
	color: rgba(0, 0, 0, 0.8);
}